name: CI/CD FE Prod Sistem Keuangan

on:
  workflow_dispatch:

jobs:  
  build-push:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest

    steps:
      # Step 1
      - name: Checkout Repository
        uses: actions/checkout@v3

      # Step 2      
      - name: Login to Image Registry
        uses: docker/login-action@v3
        with:
          registry: dcr.devlmu.com
          username: ${{ secrets.IMG_USER }}
          password: ${{ secrets.IMG_PASS }}

      # Step 3
      - name: Build Docker Image
        run: |
          docker build --no-cache \
            --build-arg NEXT_PUBLIC_BASE_URL="${{ secrets.NEXT_PUBLIC_BASE_URL }}" \
            --build-arg API_URL="${{ secrets.API_URL }}" \
            --build-arg KLIK_API_TOKEN="${{ secrets.KLIK_API_TOKEN }}" \
            -t dcr.devlmu.com/siskeu-klik/fe:latest .

      # Step 4
      - name: Push Docker Image
        run: |
          docker push dcr.devlmu.com/siskeu-klik/fe:latest

  # Job kedua: Deploy ke server setelah build dan push berhasil
  deploy:
    name: Deploy to Remote Server
    runs-on: ubuntu-latest
    needs: build-push  # Menunggu job build-push selesai sebelum menjalankan deploy

    steps:
      # Step 1: SSH ke server dan jalankan perintah deploy
      - name: Deploy with SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{secrets.IP_SERVER}}
          username: ${{ secrets.SSH_USER }}  
          key: ${{ secrets.SSH_KEY }}  
          port: ${{ secrets.SSH_PORT }}  

          # Script yang dijalankan di server remote
          script: |
            docker login dcr.devlmu.com -u ${{ secrets.IMG_USER }} -p ${{ secrets.IMG_PASS }}
            docker pull dcr.devlmu.com/siskeu-klik/fe:latest            
            docker stop siskeu-klik-front || true
            docker rm siskeu-klik-front || true
            docker run -d --restart unless-stopped --name siskeu-klik-front \
              -p 3000:3000 \
              -e API_URL="${{ secrets.API_URL }}" \
              -e KLIK_API_TOKEN="${{ secrets.KLIK_API_TOKEN }}" \
              dcr.devlmu.com/siskeu-klik/fe:latest
